
{% extends "index.html" %}


{% block content %}

{% load static %}



<div class="container mt-5 mb-5">
<div class="row">
{% for product in products %}
<!--<a href="{% url 'product:detail' product.slug %}">-->
<a href="{{ product.get_absolute_url }}">
<div class="col-md-3 mt-3">
<div class="card" >
{% if product.ProductImage %}
  <img src="{{product.ProductImage.url}}" class="card-img-top" alt="..."  style="max-height:142px;">

{% else %}
  <img src="{% static 'img/download.png' %}" class="card-img-top" alt="..." style="max-height:142px;">
{% endif %}
  <div class="card-body">
{% if product.discount %}

<span class="badge green mr-1" style="background-color:green; color:white; ">SALE</span>
{% endif %}
{% if product.new %}

<span class="badge green mr-1" style="background-color:blue; color:white; ">NEW</span>
{% endif %}
{% if product.bestseller %}

<span class="badge green mr-1" style="background-color:red; color:white; ">BESTSELLER</span>
{% endif %}
    <h5 class="card-title">{{ product.name }}</h5></a>
      <h5 class="card-title">{{ product.price }}</h5>
    <p class="card-text">{{ product.desc }}</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
</div>

{% endfor %}
</div>
</div>
   <!--
<div class="container">
<div class="row">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ productslist.next_page_number }}">Next</a></li>
  </ul>
</nav>
</div>
</div>

 
<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>-->

<div class="container" style="display:table;margin:auto;">
<div class="row">
<nav aria-label="Page navigation example">

{% if products.has_other_pages %}
  <ul class="pagination">
    {% if products.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>

      <!--   <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>-->
    {% else %}
      <li class="disabled"><span></span></li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
          <li class="page-item"><a class="page-link" href="#">{{ i }}</a></li>

      {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

      {% endif %}
    {% endfor %}
    {% if products.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>

    {% else %}
      <li class="disabled"><span></span></li>
    {% endif %}
  </ul>
{% endif %}
</nav>

</div>
</div>
{% endblock %}